{% extends "layout.html" %}

{% block main %}
    <h1 class="my-4">Пользователи</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Полное имя</th>
                <th>Дата создания</th>
                <th></th>
            </tr>            
        </thead>
        <tbody>
        {% if users %}
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{user.last_name}}</td>
                <td>{{ user.created_at }}</td>
                <td>
                    <a href="{% url 'user_update' user.pk %}">Изменить</a>
                    <br>
                    <a href="{% url 'user_delete' user.pk %}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
