{% extends "layout.html" %}
{% load django_bootstrap5 %}

{% block main %}
    <h1 class="my-4">Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-primary" type="submit" value="Зарегистрировать">
    </form>
    {% if form.password1.errors %}
    {% for error in form.password1.errors %}
        <p>{{ error }}</p>
    {% endfor %}
    {% endif %}
    {% if form.password2.errors %}
    {% for error in form.password2.errors %}
        <p>{{ error }}</p>
    {% endfor %}
    {% endif %}
{% endblock %}
