{% extends "layout.html" %}
{% load django_bootstrap5 %}

{% block main %}
    <h1 class="my-4">Задачи</h1>
    <a class="btn btn-primary mb-3" href="{% url 'task_create' %}">Создать задачу</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                {% bootstrap_field filter.form.status %}
                {% bootstrap_field filter.form.executor %}
                {% bootstrap_field filter.form.labels %}
                <input class="btn btn-primary" type="submit">
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Статус</th>
                <th>Автор</th>
                <th>Исполнитель</th>
                <th>Дата создания</th>
                <th></th>
            </tr>            
        </thead>
        <tbody>
        {% if tasks %}
        {% for task in filter.qs %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'task_show' task.pk %}">{{ task.name }}</a></td>
                <td>{{ task.status.name }}</td>
                <td>{{ task.author.username }}</td>
                <td>{{ task.executor.username }}</td>
                <td>{{ task.created_at }}</td>
                <td>
                    <a href="{% url 'task_update' task.pk %}">Изменить</a>
                    <br>
                    <a href="{% url 'task_delete' task.pk %}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
{% endblock %}
