{% extends "layout.html" %}

{% block main %}
    <h1 class="my-4">Задачи</h1>
    <a class="btn btn-primary mb-3" href="{% url 'task_create' %}">Создать задачу</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Статус</th>
                <th>Автор</th>
                <th>Исполнитель</th>
                <th>Дата создания</th>
                <th></th>
            </tr>            
        </thead>
        <tbody>
        {% if tasks %}
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'task_show' task.pk %}">{{ task.name }}</a></td>
                <td>{{ task.status.name }}</td>
                <td>{{ task.author.username }}</td>
                <td>{{ task.executor.username }}</td>
                <td>{{ task.created_at }}</td>
                <td>
                    <a href="{% url 'task_update' task.pk %}">Изменить</a>
                    <br>
                    <a href="{% url 'task_delete' task.pk %}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
{% endblock %}
